a {
  font-size: 30px;
  margin: 30px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  transition: font-size 0.5s, font-weight 0.5s;
}

a:hover {
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

nav {
  padding: 20px 0 40px 0;
  text-align: center;
}

h1 {
  font-family: sans-serif;
}

.piros {
  color: var(--var);
}

header {
  background-color: black;
  max-height: 80px;
  min-height: 80px;
  position: fixed;
  width: 100%;
}

h2 {
  text-align: center;
  font-family: monospace;
}

:root {
  --var: green;
}

body:has(#active:checked) {
  --var: red;
}
/*Burger Button*/
.burg {
  position: relative;
}

.burgbtn {
  font-size: 50px;
  display: none;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 16px;
}

.burgcontent {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
}

.burg:hover .burgcontent {
  display: block;
}
/*Burger Button end*/
@media screen and (max-width: 600px) {
  header {
    display: none;
  }
  .burgbtn {
    display: block;
  }
  a {
    text-align: center;
    font-size: 30px;
    margin: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    transition: font-size 0.5s, font-weight 0.5s;
  }
}
