a {
    font-size: 30px;
    margin: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    font-size: 35px;
    font-weight: bold;
}

h1 {
    font-family: sans-serif
}

header {
    background-color: black;
}

h2 {
    text-align: center;
}
